footer {
  background-color: #555555;
  padding: 100px 0;
}

footer > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #777777;
}

footer > .contents > .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #777777;
  margin-bottom: 20px;
}

footer > .contents > .first > strong {
  font-size: 24px;
}
footer > .contents > .first > ul {
  display: flex;
  gap: 20px;
}

footer > .contents > p {
  margin-bottom: 20px;
}
