.list {
  display: flex;
  gap: 40px;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .burger {
    display: block;
  }

  .list {
    display: none;
  }
}
