.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  animation: rotate-center 2s cubic-bezier(0, 0.99, 0, 0.99) infinite reverse;
}

@keyframes abcd {
  0% {
    background-color: white;
  }
  100% {
    background-color: pink;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
